<?xml version="1.0" ?>
<launch>

  <arg name="frame_id" default="sidescan" />
  <node  name="test_node" pkg="bathy_sonar_ros" type="bathy_sonar_ros" output="screen" >
      <param name="frame_id" value="$(arg frame_id)" />
  </node>

   <node
           pkg="tf"
           type="static_transform_publisher"
           name="port_broadcaster"
           args="0.0  0.1 -0.089  1.5707963 0.523598767 0.0 base_link $(arg frame_id) 100" />


</launch>

